<mat-table #table [dataSource]="dataSource">

	<!-- Position Column -->
	<ng-container matColumnDef="position">
		<!--
		<mat-header-cell *matHeaderCellDef> <span [ngxFitText]>No.</span> </mat-header-cell>
		-->
		<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0.3'}">
			<div class="container" fxLayoutWrap>
				<span [ngxFitText]>{{element.position}}.<mat-icon>widgets</mat-icon></span>
			</div>
		</mat-cell>
	</ng-container>

	<!-- i_item_cd & i_trade_item_cd Column -->
	<ng-container matColumnDef="item">
		<!--
		<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
		-->
		<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '2'}">
			<div class="container" fxLayoutWrap>
				<span [ngxFitText] [ngxFitTextMax]="10"><strong><u>ITEM CD</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="48"><strong>{{ element.i_item_cd }}</strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="10"><strong><u>PART NO</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="48"><strong>{{ element.i_trade_item_cd }}</strong></span>
			</div>
		</mat-cell>
	</ng-container>

	<!-- wo_no & process Column 
	<ng-container matColumnDef="process">

		<mat-cell *matCellDef="let element">
			<div class="container" fxLayoutWrap>
				<span [ngxFitText] [ngxFitTextMin]="6" [ngxFitTextMax]="10"><strong><u>WO NO</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMin]="20"><strong>{{ element.wo_no }}</strong></span>
			</div>
			<div class="container" fxLayoutWrap>
				<span [ngxFitText] [ngxFitTextMin]="6" [ngxFitTextMax]="10"><strong><u>PROCESS</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMin]="20"><strong>{{ element.process }}</strong></span>
			</div>
		</mat-cell>
	</ng-container>
-->
	<!-- Symbol Column -->
	<ng-container matColumnDef="time">
		<!--
		<mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
		-->
		<mat-cell *matCellDef="let element">
			<div class="container" fxLayoutWrap>
				<span [ngxFitText] [ngxFitTextMax]="10"><strong><u>START TIME - END TIME</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="48"><strong>{{ element.std_start_time }} - {{ element.std_end_time }}</strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="10"><strong><u>ACT START TIME - ACT END TIME</u></strong></span>
				<mat-divider [vertical]="true"></mat-divider>
				<span [ngxFitText] [ngxFitTextMax]="48"><strong>{{ element.act_start_time }} - {{ element.act_end_time }}</strong></span>
			</div>
		</mat-cell>
	</ng-container>
	
	<ng-container matColumnDef="qty">
		<!--
		<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
		-->
		<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0.5'}" >
			<div class="container" fxLayoutWrap [ngStyle]="{'text-align': 'right'}">
				<label [ngxFitText] [ngxFitTextMax]="48">{{ element.plan_qty | number }}</label>
				<mat-divider></mat-divider>
				<label class="act_qty" [ngxFitText] [ngxFitTextMax]="48">{{ element.act_qty | number }}</label>
				<mat-divider [vertical]="true"></mat-divider>
				<br/>
			</div>
		</mat-cell>
	</ng-container>

	<!-- 
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	-->
	<mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngStyle]="{'background-color': i%2===0 ? '#668cff' : '#1a53ff'}"></mat-row>
</mat-table>