.act_qty{
	/*border: 5px solid red;
    padding: 1px;
    border-radius: 25px;
	box-sizing: border-box;
	*/
	color: #ffff1a;
	font-weight: bold;
	text-align: right;
}
.mat-cell {
	color: #FFFFFF;
}