<div class="container"
	fxLayout="row"
	fxLayout.xs="row"
	fxLayoutAlign="center"
	fxLayoutGap="10px"
	fxLayoutGap.xs="0"
	fxLayoutWrap>
	<div fxFlex="50%">
		<app-screen0></app-screen0>
	</div>
	<div fxFlex="50%">
		<div fxLayout="column">
			<app-screen10></app-screen10>
		</div>
		<div fxLayout="column">
			<app-screen11></app-screen11>
		</div>
	</div>	
</div>