.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.example-container {
	display: flex;
	flex-direction: column;
}

.example-header{
	height: 100%;
}