<div class="container">
	<div class="card">
		<div class="card-header">
			<strong>Work Order Before Process</strong>
		</div>
		<div class="card-body">
			<form class="form-inline">
				<label class="mx-sm-3 mb-2">Work Order No.</label>
				<div class="form-group mx-sm-3 mb-2">
					<label for="inputPassword2" class="sr-only">Password</label>
					<input type="password" class="form-control" id="inputPassword2" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
			</form>
		</div>
	</div>
	
</div>