<div class="header-pd"
	fxLayout="row"
	fxLayout.xs="row"
	fxLayoutAlign="center"
	fxLayoutGap="10px"
	fxLayoutGap.xs="0"
	fxLayoutWrap>
	<!--
	<div fxFlex="30%" class="header-text">
		<label [ngxFitText] [ngxFitTextMax]="48"><strong><u></u></strong></label>
	</div>
	-->
	<div fxFlex="40%" class="header-text">
		<label [ngxFitText] [ngxFitTextMax]="72" ><strong><u>SHIFT A</u></strong></label>
	</div>
	<div fxFlex="60%" class="header-text">
		<label [ngxFitText] [ngxFitTextMax]="56"><strong>2018-01-25</strong>&nbsp;04:30:30</label>
	</div>
</div>